body {
  background-image: url('../public/dust_scratches.webp'); 
  padding: 0.5rem; 
  margin: 0; 
  box-sizing: border-box;
  padding-top: 90px;
  font-family: cursive;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #392f2f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #392f2f;
}